<div class="navside-projects">
  <div class="hide-scroll">
    <nav class="scroll">
      <ul class="nav">
        <li>
          <a href="#/app/dashboard"><span class="nav-profile" data-toggle="tooltip" data-placement="right" title="Tooltip on right"><img src="https://static.hummingbird.me/users/avatars/000/000/002/thumb_small/IMG_5499_%281%29.jpg?1444332940"></span></a>
        </li>
        <li class="active">
          <a href="#/app/dashboard"><span class="nav-profile"><img src="https://static.hummingbird.me/users/avatars/000/000/002/thumb_small/IMG_5499_%281%29.jpg?1444332940"></span></a>
        </li>
        <li>
          <a href="#/app/dashboard"><span class="nav-profile"><img src="https://static.hummingbird.me/users/avatars/000/000/002/thumb_small/IMG_5499_%281%29.jpg?1444332940"></span></a>
        </li>
        <li>
          <a href="#/app/dashboard"><span class="nav-profile"><img src="https://static.hummingbird.me/users/avatars/000/000/002/thumb_small/IMG_5499_%281%29.jpg?1444332940"></span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="navside">
  <div class="navbar">
    <a class="navbar-brand"><img src="/logo.png"></a>
    <small class="project-title">Hummingbird</small>
    <div class="cloud-wrapper"><div class="clouds"></div></div>
  </div>
  <div class="hide-scroll">
    <nav class="scroll">
      <ul class="nav left-sidebar">
        {{#link-to (concat type '.dashboard') tagName='li'}}
          {{#link-to (concat type '.dashboard')}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
            </svg>
            <span class="nav-text">Dashboard</span>
          {{/link-to}}
        {{/link-to}}

        {{#link-to (concat type '.tasks') tagName='li'}}
          {{#link-to (concat type '.tasks')}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M19 2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h4l3 3 3-3h4c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 3.3c1.49 0 2.7 1.21 2.7 2.7 0 1.49-1.21 2.7-2.7 2.7-1.49 0-2.7-1.21-2.7-2.7 0-1.49 1.21-2.7 2.7-2.7zM18 16H6v-.9c0-2 4-3.1 6-3.1s6 1.1 6 3.1v.9z"/>
            </svg>
            <span class="nav-text">My Tasks</span>
          {{/link-to}}
        {{/link-to}}

        {{#link-to (concat type '.issues') tagName='li'}}
          {{#link-to (concat type '.issues')}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M4 14h4v-4H4v4zm0 5h4v-4H4v4zM4 9h4V5H4v4zm5 5h12v-4H9v4zm0 5h12v-4H9v4zM9 5v4h12V5H9z"/>
            </svg>
            <span class="nav-text">Issues</span>
          {{/link-to}}
        {{/link-to}}

        {{#link-to (concat type '.milestones') tagName='li'}}
          {{#link-to (concat type '.milestones')}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm-2 16l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z"/>
            </svg>
            <span class="nav-text">Milestones</span>
          {{/link-to}}
        {{/link-to}}

        {{#link-to (concat type '.bugs') tagName='li'}}
          {{#link-to (concat type '.bugs')}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M10.01 21.01c0 1.1.89 1.99 1.99 1.99s1.99-.89 1.99-1.99h-3.98zm8.87-4.19V11c0-3.25-2.25-5.97-5.29-6.69v-.72C13.59 2.71 12.88 2 12 2s-1.59.71-1.59 1.59v.72C7.37 5.03 5.12 7.75 5.12 11v5.82L3 18.94V20h18v-1.06l-2.12-2.12zM16 13.01h-3v3h-2v-3H8V11h3V8h2v3h3v2.01z"/>
            </svg>
            <span class="nav-text">Bugs</span>
          {{/link-to}}
        {{/link-to}}

        {{#link-to (concat type '.settings') tagName='li'}}
          {{#link-to (concat type '.settings')}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
            </svg>
            <span class="nav-text">Settings</span>
          {{/link-to}}
        {{/link-to}}
      </ul>
    </nav>
  </div>
</div>