<div class="row">
  <div class="col-xs-12 col-lg-4">
    <div class="box">
      <h4>My Tasks</h4>
      <ul class="task-list">
        <li class="task">
          <span class="task-order">
            <svg class="svgIcon itemRow-dragIcon" viewBox="0 0 32 32" title="drag handle">
              <rect x="6" y="2" width="4" height="4"></rect>
              <rect x="14" y="2" width="4" height="4"></rect>
              <rect x="6" y="10" width="4" height="4"></rect>
              <rect x="14" y="10" width="4" height="4"></rect>
              <rect x="6" y="18" width="4" height="4"></rect>
              <rect x="14" y="18" width="4" height="4"></rect>
              <rect x="6" y="26" width="4" height="4"></rect>
              <rect x="14" y="26" width="4" height="4"></rect>
              <rect x="22" y="2" width="4" height="4"></rect>
              <rect x="22" y="10" width="4" height="4"></rect>
              <rect x="22" y="18" width="4" height="4"></rect>
              <rect x="22" y="26" width="4" height="4"></rect>
            </svg>
          </span>
          <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
          <div class="task-dropdown">
            <a class="dropdown-item in-progress" href="#">
              <span class="task-status"></span>
              <span>In Progress</span>
            </a>
            <a class="dropdown-item complete" href="#">
              <span class="task-status"></span>
              <span>Complete</span>
            </a>
            <a class="dropdown-item stuck" href="#">
              <span class="task-status"></span>
              <span>Stuck</span>
            </a>
          </div>
          <span class="task-title">Design</span>
          <span class="parent">‹ Testing Sync</span>
        </li>
      </ul>
      <a href="#" class="view-all">
        View All
      </a>
    </div>


    <div class="box">
      <h4>Bugs</h4>
      <ul class="task-list">
        <li class="task">
          <span class="task-order">
            <svg class="svgIcon itemRow-dragIcon" viewBox="0 0 32 32" title="drag handle">
              <rect x="6" y="2" width="4" height="4"></rect>
              <rect x="14" y="2" width="4" height="4"></rect>
              <rect x="6" y="10" width="4" height="4"></rect>
              <rect x="14" y="10" width="4" height="4"></rect>
              <rect x="6" y="18" width="4" height="4"></rect>
              <rect x="14" y="18" width="4" height="4"></rect>
              <rect x="6" y="26" width="4" height="4"></rect>
              <rect x="14" y="26" width="4" height="4"></rect>
              <rect x="22" y="2" width="4" height="4"></rect>
              <rect x="22" y="10" width="4" height="4"></rect>
              <rect x="22" y="18" width="4" height="4"></rect>
              <rect x="22" y="26" width="4" height="4"></rect>
            </svg>
          </span>
          <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
          <div class="task-dropdown">
            <a class="dropdown-item in-progress" href="#">
              <span class="task-status"></span>
              <span>In Progress</span>
            </a>
            <a class="dropdown-item complete" href="#">
              <span class="task-status"></span>
              <span>Complete</span>
            </a>
            <a class="dropdown-item stuck" href="#">
              <span class="task-status"></span>
              <span>Stuck</span>
            </a>
          </div>
          <span class="task-title">Design</span>
          <span class="parent">‹ Testing Asana sync</span>
        </li>

      </ul>
      <a href="#" class="view-all">
        View All
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-lg-8">
    <div class="box">
      <h4>Milestones</h4>

      <div class="milestones" id="milestones">
        <ul class="milestone-head">
          <li class="flex-status task-title">
            <div style="color: #9b59b6;">
              <span>Basic Media Tracking</span>
            </div>
          </li>
          <li class="flex-status task">
            <span>Design</span>
          </li>
          <li class="flex-status task">
            <span>Front-end</span>
          </li>
          <li class="flex-status task">
            <span>API</span>
          </li>
          <li class="flex-status task">
            <span>Hook-up</span>
          </li>
        </ul>
        <ul class="milestone-row">
          <li class="flex-status task-title">
            <span class="color-chip" style="background-color: #9b59b6;"></span>
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Media Pages
            </a>
            <a href="#" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
              </svg>
            </a>
            <span class="progress-indicators">
              <span class="indicator1 in-progress"></span>
              <span class="indicator2 complete"></span>
              <span class="indicator3 stuck"></span>
              <span class="indicator4 in-progress"></span>
            </span>
          </li>
          <li class="milestone-wrapper panel-collapse collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
            <li class="flex-status milestone-status in-progress">
              <span class="status-label">Design</span>
              <a href="#" class="dropdown" data-toggle="dropdown">
                In Progress
              </a>
              <div class="task-dropdown">
                <a class="dropdown-item in-progress" href="#">
                  <span class="task-status"></span>
                  <span>In Progress</span>
                </a>
                <a class="dropdown-item complete" href="#">
                  <span class="task-status"></span>
                  <span>Complete</span>
                </a>
                <a class="dropdown-item stuck" href="#">
                  <span class="task-status"></span>
                  <span>Stuck</span>
                </a>
              </div>
            </li>
            <li class="flex-status milestone-status complete">
              <span class="status-label">Design</span>
              <a href="#" class="dropdown" data-toggle="dropdown">
                Complete
              </a>
              <div class="task-dropdown">
                <a class="dropdown-item in-progress" href="#">
                  <span class="task-status"></span>
                  <span>In Progress</span>
                </a>
                <a class="dropdown-item complete" href="#">
                  <span class="task-status"></span>
                  <span>Complete</span>
                </a>
                <a class="dropdown-item stuck" href="#">
                  <span class="task-status"></span>
                  <span>Stuck</span>
                </a>
              </div>
            </li>
            <li class="flex-status milestone-status stuck">
              <span class="status-label">Design</span>
              <a href="#" class="dropdown" data-toggle="dropdown">
                Stuck
              </a>
              <div class="task-dropdown">
                <a class="dropdown-item in-progress" href="#">
                  <span class="task-status"></span>
                  <span>In Progress</span>
                </a>
                <a class="dropdown-item complete" href="#">
                  <span class="task-status"></span>
                  <span>Complete</span>
                </a>
                <a class="dropdown-item stuck" href="#">
                  <span class="task-status"></span>
                  <span>Stuck</span>
                </a>
              </div>
            </li>
            <li class="flex-status milestone-status in-progress">
              <span class="status-label">Design</span>
              <a href="#" class="dropdown" data-toggle="dropdown">
                In Progress
              </a>
              <div class="task-dropdown">
                <a class="dropdown-item in-progress" href="#">
                  <span class="task-status"></span>
                  <span>In Progress</span>
                </a>
                <a class="dropdown-item complete" href="#">
                  <span class="task-status"></span>
                  <span>Complete</span>
                </a>
                <a class="dropdown-item stuck" href="#">
                  <span class="task-status"></span>
                  <span>Stuck</span>
                </a>
              </div>
            </li>
          </li>
        </ul>
      </div>



    </div>
  </div>
</div>
