<div class="row">
  <div class="col-xs-12 col-lg-4">
    <div class="box">
      <h4>My Tasks</h4>
      <ul class="task-list">
        <li class="task">
          <span class="task-order">
            <svg class="svgIcon itemRow-dragIcon" viewBox="0 0 32 32" title="drag handle">
              <rect x="6" y="2" width="4" height="4"></rect>
              <rect x="14" y="2" width="4" height="4"></rect>
              <rect x="6" y="10" width="4" height="4"></rect>
              <rect x="14" y="10" width="4" height="4"></rect>
              <rect x="6" y="18" width="4" height="4"></rect>
              <rect x="14" y="18" width="4" height="4"></rect>
              <rect x="6" y="26" width="4" height="4"></rect>
              <rect x="14" y="26" width="4" height="4"></rect>
              <rect x="22" y="2" width="4" height="4"></rect>
              <rect x="22" y="10" width="4" height="4"></rect>
              <rect x="22" y="18" width="4" height="4"></rect>
              <rect x="22" y="26" width="4" height="4"></rect>
            </svg>
          </span>
          <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
          <div class="task-dropdown">
            <a class="dropdown-item in-progress" href="#">
              <span class="task-status"></span>
              <span>In Progress</span>
            </a>
            <a class="dropdown-item complete" href="#">
              <span class="task-status"></span>
              <span>Complete</span>
            </a>
            <a class="dropdown-item stuck" href="#">
              <span class="task-status"></span>
              <span>Stuck</span>
            </a>
          </div>
          <span class="task-title">Design</span>
          <span class="parent">‹ Testing Sync</span>
        </li>
      </ul>
      <a href="#" class="view-all">
        View All
      </a>
    </div>


    <div class="box">
      <h4>Bugs</h4>
      <ul class="task-list">
        <li class="task">
          <span class="task-order">
            <svg class="svgIcon itemRow-dragIcon" viewBox="0 0 32 32" title="drag handle">
              <rect x="6" y="2" width="4" height="4"></rect>
              <rect x="14" y="2" width="4" height="4"></rect>
              <rect x="6" y="10" width="4" height="4"></rect>
              <rect x="14" y="10" width="4" height="4"></rect>
              <rect x="6" y="18" width="4" height="4"></rect>
              <rect x="14" y="18" width="4" height="4"></rect>
              <rect x="6" y="26" width="4" height="4"></rect>
              <rect x="14" y="26" width="4" height="4"></rect>
              <rect x="22" y="2" width="4" height="4"></rect>
              <rect x="22" y="10" width="4" height="4"></rect>
              <rect x="22" y="18" width="4" height="4"></rect>
              <rect x="22" y="26" width="4" height="4"></rect>
            </svg>
          </span>
          <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
          <div class="task-dropdown">
            <a class="dropdown-item in-progress" href="#">
              <span class="task-status"></span>
              <span>In Progress</span>
            </a>
            <a class="dropdown-item complete" href="#">
              <span class="task-status"></span>
              <span>Complete</span>
            </a>
            <a class="dropdown-item stuck" href="#">
              <span class="task-status"></span>
              <span>Stuck</span>
            </a>
          </div>
          <span class="task-title">Design</span>
          <span class="parent">‹ Testing Asana sync</span>
        </li>

      </ul>
      <a href="#" class="view-all">
        View All
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-lg-8">
    <div class="box">
      <h4>Milestones</h4>

      <div class="milestones" id="milestones">
        <ul class="milestone-head">
          <li class="flex-status task-title">
            <div style="color: #9b59b6;">
              <span>Basic Media Tracking</span>
            </div>
          </li>
          <li class="flex-status task">
            <span>Design</span>
          </li>
          <li class="flex-status task">
            <span>Front-end</span>
          </li>
          <li class="flex-status task">
            <span>API</span>
          </li>
          <li class="flex-status task">
            <span>Hook-up</span>
          </li>
        </ul>
        <ul class="milestone-row">
          <li class="flex-status task-title">
            <span class="color-chip" style="background-color: #9b59b6;"></span>
            <a href="#" data-toggle="modal" data-target="#myModal">
              Media Pages
            </a>
            <a href="#" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
              </svg>
            </a>
            <span class="progress-indicators">
              <span class="indicator1 in-progress"></span>
              <span class="indicator2 complete"></span>
              <span class="indicator3 stuck"></span>
              <span class="indicator4 in-progress"></span>
            </span>
          </li>
          <li class="milestone-wrapper panel-collapse collapse" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
            <li class="flex-status milestone-status in-progress">
              <span class="status-label">Design</span>
              <a href="#" class="dropdown" data-toggle="dropdown">
                In Progress
              </a>
              <div class="task-dropdown">
                <a class="dropdown-item in-progress" href="#">
                  <span class="task-status"></span>
                  <span>In Progress</span>
                </a>
                <a class="dropdown-item complete" href="#">
                  <span class="task-status"></span>
                  <span>Complete</span>
                </a>
                <a class="dropdown-item stuck" href="#">
                  <span class="task-status"></span>
                  <span>Stuck</span>
                </a>
              </div>
            </li>
            <li class="flex-status milestone-status complete">
              <span class="status-label">Design</span>
              <a href="#" class="dropdown" data-toggle="dropdown">
                Complete
              </a>
              <div class="task-dropdown">
                <a class="dropdown-item in-progress" href="#">
                  <span class="task-status"></span>
                  <span>In Progress</span>
                </a>
                <a class="dropdown-item complete" href="#">
                  <span class="task-status"></span>
                  <span>Complete</span>
                </a>
                <a class="dropdown-item stuck" href="#">
                  <span class="task-status"></span>
                  <span>Stuck</span>
                </a>
              </div>
            </li>
            <li class="flex-status milestone-status stuck">
              <span class="status-label">Design</span>
              <a href="#" class="dropdown" data-toggle="dropdown">
                Stuck
              </a>
              <div class="task-dropdown">
                <a class="dropdown-item in-progress" href="#">
                  <span class="task-status"></span>
                  <span>In Progress</span>
                </a>
                <a class="dropdown-item complete" href="#">
                  <span class="task-status"></span>
                  <span>Complete</span>
                </a>
                <a class="dropdown-item stuck" href="#">
                  <span class="task-status"></span>
                  <span>Stuck</span>
                </a>
              </div>
            </li>
            <li class="flex-status milestone-status in-progress">
              <span class="status-label">Design</span>
              <a href="#" class="dropdown" data-toggle="dropdown">
                In Progress
              </a>
              <div class="task-dropdown">
                <a class="dropdown-item in-progress" href="#">
                  <span class="task-status"></span>
                  <span>In Progress</span>
                </a>
                <a class="dropdown-item complete" href="#">
                  <span class="task-status"></span>
                  <span>Complete</span>
                </a>
                <a class="dropdown-item stuck" href="#">
                  <span class="task-status"></span>
                  <span>Stuck</span>
                </a>
              </div>
            </li>
          </li>
        </ul>
      </div>



    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal task-details" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="public ">
          <span class="author" itemprop="author">
            <a href="/hummingbird-me" class="url fn" rel="author">hummingbird-me</a>
          </span>
          <span class="path-divider">/</span>
          <strong itemprop="name">
            <a href="/hummingbird-me/hummingbird">hummingbird</a>
          </strong>
        </h1>
        <h1 class="gh-header-title">
          Badge System
          <span class="gh-header-number">#752</span>
        </h1>
        <div class="issue-info">
          <span class="issue-status open">Open</span>
          <span class="issue-creator">
            <a href="/JoshFabian" class="author">
              JoshFabian
            </a>
            opened this Issue
            <relative-time datetime="2016-08-05T04:02:08Z" title="Aug 5, 2016, 12:02 AM EDT">on Aug 5</relative-time>
          </span>
        </div>
      </div>
      <div class="modal-body">
        <div class="subtask-block">
          <h2 class="subtask-head">
            Subtasks
          </h2>
          <ul class="subtask-list">
            <li class="subtask">
              <div class="title-section">
                  <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
                  <div class="task-dropdown">
                    <a class="dropdown-item in-progress" href="#">
                      <span class="task-status"></span>
                      <span>In Progress</span>
                    </a>
                    <a class="dropdown-item complete" href="#">
                      <span class="task-status"></span>
                      <span>Complete</span>
                    </a>
                    <a class="dropdown-item stuck" href="#">
                      <span class="task-status"></span>
                      <span>Stuck</span>
                    </a>
                  </div>
                  <span class="task-title">Design</span>
              </div>
              <div class="subtask-owner">
                <span class="avatar">
                  <img src="https://avatars2.githubusercontent.com/u/742153?v=3&s=88">
                </span>
              </div>
            </li>
            <li class="subtask">
              <div class="title-section">
                  <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
                  <div class="task-dropdown">
                    <a class="dropdown-item in-progress" href="#">
                      <span class="task-status"></span>
                      <span>In Progress</span>
                    </a>
                    <a class="dropdown-item complete" href="#">
                      <span class="task-status"></span>
                      <span>Complete</span>
                    </a>
                    <a class="dropdown-item stuck" href="#">
                      <span class="task-status"></span>
                      <span>Stuck</span>
                    </a>
                  </div>
                  <span class="task-title">Front-end</span>
              </div>
              <div class="subtask-owner">
                <span class="avatar">
                  <img src="https://avatars2.githubusercontent.com/u/742153?v=3&s=88">
                </span>
              </div>
            </li>
            <li class="subtask">
              <div class="title-section">
                  <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
                  <div class="task-dropdown">
                    <a class="dropdown-item in-progress" href="#">
                      <span class="task-status"></span>
                      <span>In Progress</span>
                    </a>
                    <a class="dropdown-item complete" href="#">
                      <span class="task-status"></span>
                      <span>Complete</span>
                    </a>
                    <a class="dropdown-item stuck" href="#">
                      <span class="task-status"></span>
                      <span>Stuck</span>
                    </a>
                  </div>
                  <span class="task-title">API</span>
              </div>
              <div class="subtask-owner">
                <span class="avatar">
                  <img src="https://avatars3.githubusercontent.com/u/430411?v=3&s=60">
                </span>
              </div>
            </li>
            <li class="subtask">
              <div class="title-section">
                  <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
                  <div class="task-dropdown">
                    <a class="dropdown-item in-progress" href="#">
                      <span class="task-status"></span>
                      <span>In Progress</span>
                    </a>
                    <a class="dropdown-item complete" href="#">
                      <span class="task-status"></span>
                      <span>Complete</span>
                    </a>
                    <a class="dropdown-item stuck" href="#">
                      <span class="task-status"></span>
                      <span>Stuck</span>
                    </a>
                  </div>
                  <span class="task-title">Hook-up</span>
              </div>
              <div class="subtask-owner">
                <span class="avatar">
                  <img src="https://avatars3.githubusercontent.com/u/36646?v=3&s=60">
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="task-description">
          <div class="markdown-body">
            <h1>Achievement Badges</h1>
            <p>Hummingbird would like to be able to reward active users for using the site in a way that allows them to show off their reputation in the community as well as the variety of anime and dramas they have watched, manga they have read, etc. Hummingbird's
              badges could be similar in style to
            <a href="https://github.com/rr-/malgraph4/wiki/Achievements">those of MALGraph</a>.</p>
            <p>In this document, we describe the categories of badges available, as well as the specific badges in each category, how they are unlocked, and what they represent. This guide is meant to serve largely as a developer-first specification of how
              badges will be implemented, but in such a way that user documentation (in the form, for example, of a blog post) could be easily written.</p>
            <ul class="contains-task-list">
              <li class="task-list-item enabled" draggable="false">
                Design
              </li>
              <li class="task-list-item enabled">
                Front-end
              </li>
              <li class="task-list-item enabled">
                API
              </li>
              <li class="task-list-item enabled">
                Hook-up
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="comment-form">
          <div class="editor-tools">
            <a href="#" class="font-size">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M9 4v3h5v12h3V7h5V4H9zm-6 8h3v7h3v-7h3V9H3v3z"/>
              </svg>
            </a>
            <a href="#" class="bold">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M15.6 10.79c.97-.67 1.65-1.77 1.65-2.79 0-2.26-1.75-4-4-4H7v14h7.04c2.09 0 3.71-1.7 3.71-3.79 0-1.52-.86-2.82-2.15-3.42zM10 6.5h3c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5h-3v-3zm3.5 9H10v-3h3.5c.83 0 1.5.67 1.5 1.5s-.67 1.5-1.5 1.5z"/>
              </svg>
            </a>
            <a href="#" class="italic">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M10 4v3h2.21l-3.42 8H6v3h8v-3h-2.21l3.42-8H18V4z"/>
              </svg>
            </a>
            <a href="#" class="quote">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M6 17h3l2-4V7H5v6h3zm8 0h3l2-4V7h-6v6h3z"/>
              </svg>
            </a>
            <a href="#" class="code">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/>
              </svg>
            </a>
            <a href="#" class="bullet-list">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z"/>
              </svg>
            </a>
            <a href="#" class="numbered-list">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M2 17h2v.5H3v1h1v.5H2v1h3v-4H2v1zm1-9h1V4H2v1h1v3zm-1 3h1.8L2 13.1v.9h3v-1H3.2L5 10.9V10H2v1zm5-6v2h14V5H7zm0 14h14v-2H7v2zm0-6h14v-2H7v2z"/>
              </svg>
            </a>
          </div>
          <textarea class="comment-form-textarea" name="comment[body]" placeholder="Leave a comment"></textarea>
        </div>
        <div class="discussion">
          <div class="comment">
            <div class="media">
              <a class="media-left" href="#">
                <img class="media-object" src="https://avatars2.githubusercontent.com/u/2383736?v=3&s=88" alt="Generic placeholder image">
              </a>
              <div class="media-body">
                <h6 class="media-heading">
                  <a class="comment-author">Cybrox</a>
                </h6>
                <p>
                  <a href="#" class="user-mention">@BeholdMyGlory</a> Hummingbird v2 already has quite a lot of the things that are listed as issues currently. Basically, since Hummingbird is redeveloped at the moment, there is an issue for every core component of the site, including recommendations. Any issues assigned to the v3 milestone are mostly used for goal-setting, progress-tracking and discussion for now.
                </p>
                <p>
                  If you want to get involved with the development of Hummingbird v3, I'd recommend you join the dev chat on slack though <g-emoji alias="wink" fallback-src="https://assets-cdn.github.com/images/icons/emoji/unicode/1f609.png">😉</g-emoji>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
