<div class="row">
  <div class="col-xs-12 col-lg-4">
    <div class="box">
      <h4>My Tasks</h4>
      <ul class="task-list">
        <li class="task">
          <span class="task-order">
            <svg class="svgIcon itemRow-dragIcon" viewBox="0 0 32 32" title="drag handle">
              <rect x="6" y="2" width="4" height="4"></rect>
              <rect x="14" y="2" width="4" height="4"></rect>
              <rect x="6" y="10" width="4" height="4"></rect>
              <rect x="14" y="10" width="4" height="4"></rect>
              <rect x="6" y="18" width="4" height="4"></rect>
              <rect x="14" y="18" width="4" height="4"></rect>
              <rect x="6" y="26" width="4" height="4"></rect>
              <rect x="14" y="26" width="4" height="4"></rect>
              <rect x="22" y="2" width="4" height="4"></rect>
              <rect x="22" y="10" width="4" height="4"></rect>
              <rect x="22" y="18" width="4" height="4"></rect>
              <rect x="22" y="26" width="4" height="4"></rect>
            </svg>
          </span>
          <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
          <div class="task-dropdown">
            <a class="dropdown-item in-progress" href="#">
              <span class="task-status"></span>
              <span>In Progress</span>
            </a>
            <a class="dropdown-item complete" href="#">
              <span class="task-status"></span>
              <span>Complete</span>
            </a>
            <a class="dropdown-item stuck" href="#">
              <span class="task-status"></span>
              <span>Stuck</span>
            </a>
          </div>
          <span class="task-title">Design</span>
          <span class="parent">‹ Testing Sync</span>
        </li>
      </ul>
      <a href="#" class="view-all">
        View All
      </a>
    </div>


    <div class="box">
      <h4>Bugs</h4>
      <ul class="task-list">
        <li class="task">
          <span class="task-order">
            <svg class="svgIcon itemRow-dragIcon" viewBox="0 0 32 32" title="drag handle">
              <rect x="6" y="2" width="4" height="4"></rect>
              <rect x="14" y="2" width="4" height="4"></rect>
              <rect x="6" y="10" width="4" height="4"></rect>
              <rect x="14" y="10" width="4" height="4"></rect>
              <rect x="6" y="18" width="4" height="4"></rect>
              <rect x="14" y="18" width="4" height="4"></rect>
              <rect x="6" y="26" width="4" height="4"></rect>
              <rect x="14" y="26" width="4" height="4"></rect>
              <rect x="22" y="2" width="4" height="4"></rect>
              <rect x="22" y="10" width="4" height="4"></rect>
              <rect x="22" y="18" width="4" height="4"></rect>
              <rect x="22" y="26" width="4" height="4"></rect>
            </svg>
          </span>
          <a class="task-status dropdown" data-toggle="dropdown" href=""></a>
          <div class="task-dropdown">
            <a class="dropdown-item in-progress" href="#">
              <span class="task-status"></span>
              <span>In Progress</span>
            </a>
            <a class="dropdown-item complete" href="#">
              <span class="task-status"></span>
              <span>Complete</span>
            </a>
            <a class="dropdown-item stuck" href="#">
              <span class="task-status"></span>
              <span>Stuck</span>
            </a>
          </div>
          <span class="task-title">Design</span>
          <span class="parent">‹ Testing Asana sync</span>
        </li>

      </ul>
      <a href="#" class="view-all">
        View All
      </a>
    </div>
  </div>

  <div class="col-xs-12 col-lg-8">
    <div class="box">
      <h4>Milestones</h4>

      <div class="milestone">
        <ul class="milestone-head">
          <li class="task-title">
            <div style="color: rgb(87, 155, 252);">
              <span>Basic Media Tracking</span>
            </div>
          </li>
          <li class="task">
            <span>Design</span>
          </li>
          <li class="task">
            <span>Front-end</span>
          </li>
          <li class="task">
            <span>API</span>
          </li>
          <li class="task">
            <span>Hook-up</span>
          </li>
        </ul>
        <ul class="milestone-row">
          <li class="task-title">
            <a href="#">
              Media Pages
            </a>
          </li>
          <li class="milestone-status in-progress">
            <a href="#" class="dropdown" data-toggle="dropdown">
              In Progress
            </a>
            <div class="task-dropdown">
              <a class="dropdown-item in-progress" href="#">
                <span class="task-status"></span>
                <span>In Progress</span>
              </a>
              <a class="dropdown-item complete" href="#">
                <span class="task-status"></span>
                <span>Complete</span>
              </a>
              <a class="dropdown-item stuck" href="#">
                <span class="task-status"></span>
                <span>Stuck</span>
              </a>
            </div>
          </li>
          <li class="milestone-status complete">
            <a href="#" class="dropdown" data-toggle="dropdown">
              Complete
            </a>
            <div class="task-dropdown">
              <a class="dropdown-item in-progress" href="#">
                <span class="task-status"></span>
                <span>In Progress</span>
              </a>
              <a class="dropdown-item complete" href="#">
                <span class="task-status"></span>
                <span>Complete</span>
              </a>
              <a class="dropdown-item stuck" href="#">
                <span class="task-status"></span>
                <span>Stuck</span>
              </a>
            </div>
          </li>
          <li class="milestone-status stuck">
            <a href="#" class="dropdown" data-toggle="dropdown">
              Stuck
            </a>
            <div class="task-dropdown">
              <a class="dropdown-item in-progress" href="#">
                <span class="task-status"></span>
                <span>In Progress</span>
              </a>
              <a class="dropdown-item complete" href="#">
                <span class="task-status"></span>
                <span>Complete</span>
              </a>
              <a class="dropdown-item stuck" href="#">
                <span class="task-status"></span>
                <span>Stuck</span>
              </a>
            </div>
          </li>
          <li class="milestone-status in-progress">
            <a href="#" class="dropdown" data-toggle="dropdown">
              In Progress
            </a>
            <div class="task-dropdown">
              <a class="dropdown-item in-progress" href="#">
                <span class="task-status"></span>
                <span>In Progress</span>
              </a>
              <a class="dropdown-item complete" href="#">
                <span class="task-status"></span>
                <span>Complete</span>
              </a>
              <a class="dropdown-item stuck" href="#">
                <span class="task-status"></span>
                <span>Stuck</span>
              </a>
            </div>
          </li>
        </ul>
      </div>



    </div>
  </div>
</div>
