<div class="account-sidebar">
  <ul class="accounts">
    <li class="account active">
      <a href="#">
        <div class="card">
          <div class="card-block">
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" src="https://avatars0.githubusercontent.com/u/742153?v=3&s=120" alt="Generic placeholder image">
                </a>
              </div>
              <div class="media-body">
                <h6 class="media-heading">JoshFabian</h6>
              </div>
            </div>
          </div>
          <div class="card-footer">
            16 repositories
          </div>
        </div>
      </a>
    </li>
    <li class="divider"></li>
    <li class="account">
      <a href="#">
        <div class="card">
          <div class="card-block">
            <div class="media">
              <div class="media-left media-middle">
                <a href="#">
                  <img class="media-object" src="https://avatars3.githubusercontent.com/u/7648832?v=3&s=200" alt="Generic placeholder image">
                </a>
              </div>
              <div class="media-body">
                <h6 class="media-heading">Hummingbird</h6>
              </div>
            </div>
          </div>
          <div class="card-footer">
            14 repositories
          </div>
        </div>
      </a>
    </li>
  </ul>
  <div class="help-text">
    <a href="#" class="help-link">
      Is an organization missing?
    </a>
  </div>
</div>
<div class="settings-content row">
  <div class="settings-wrapper col-xs-12">
    <div class="settings-header">
      <h1>JoshFabian</h1>
      <p>Please activate the repositories you would like Limelight to help manage.</p>
    </div>

    <div class="repo">
      <input type="checkbox" id="angrychicken" />
      <div class="card">
        <label for="angrychicken"></label>
        <span class="repo-title">
          <span class="owner">
            JoshFabian
          </span>
          <span class="divider">
            /
          </span>
          <span>
            AngryChicken
          </span>
        </span>
      </div>
    </div>

    <div class="repo">
      <input type="checkbox" id="ookii" />
      <div class="card">
        <label for="ookii"></label>
        <span class="repo-title">
          <span class="owner">
            JoshFabian
          </span>
          <span class="divider">
            /
          </span>
          <span>
            Ookii
          </span>
        </span>
      </div>
    </div>

  </div>
</div>
